<div class="container-fluid login_bg mt20">
    <div class="container">
        <footer class="navbar-fixed-bottom navbar-inverse">
            <div class="row">
                <div class="col-sm-3 col-md-3 navbar-text">
                    <div class="mouse" {{action "toggleModel"}}>Help?</div>
                     <div class="mouse" {{action "gotofaqs"}}>FAQ's</div>   
                </div>
              <!--  <div class="col-sm-6 col-md-6 navbar-text">
                    <div class="mouse" {{action "gotofaqs"}}>FAQ's</div>
                </div>-->
                <div class="col-sm-6 col-md-6 center-align navbar-text">
                    <p class="text-muted">Copyright &copy; 2017 RapidQube</p>  
                </div>
                <div>
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <a href="#" target="_self" class="fa fa-facebook" {{action 'facebook'}}></a>
                    <a href="#" target="_blank" class="fa fa-twitter"   {{action 'twitter'}}></a>
                    <a href="#" target="_blank" class="fa fa-linkedin"   {{action 'linkedin'}}></a>
                </div>
            </div>
		</footer>
	</div>
</div>