
<!--<button type="button" class="btn btn-primary" {{action 'approvebids'}}> Approve bids</button>

<button type="button" class="btn btn-primary" {{action 'fundtransfer'}}> Status of fund transfer</button>

<button type="button" class="btn btn-primary" {{action 'executecampaign'}}> execute campaign</button>

<button type="button" class="btn btn-primary" {{action 'delivercommitments'}}> delivery commitments</button>
-->
<ul class="nav nav-pills">
   <li>{{#link-to 'fund-raiser.list-approve-bids'}}list-approve-bids{{/link-to}}</li>
   <li>{{#link-to 'fund-raiser.status-of-fund-transfer'}}status-of-fund-transfer{{/link-to}}</li>
   <li>{{#link-to 'fund-raiser.execute-campaign'}}execute-campaign{{/link-to}}</li>
   <li>{{#link-to 'fund-raiser.deliver-commitments'}}deliver-commitments{{/link-to}}</li>
</ul>

{{outlet}}