<br/><br/><br/>
<div class="container-fluid text-center">
   <div class="row">
      <div class="col-sm-12">
         <h3>Rewards!! </h3>
      </div>
   </div>
</div>
<br/><br/>
<div class="container-fluid text-center">
   <div class="row">
      <div class="col-sm-4 bg-3">
         <div class="panel text-center">
            <div class="panel-heading">
               <h4>No Rewards<br>&nbsp;</h4>
            </div>
            <div class="panel-body">
              <p>Special Shoutout on our social media <br> <br>
              {{input type="text" value=amount placeholder='Please Amount for Contribution'}}
              </p>
              
            </div>
            <div class="panel-footer">
               <button type="button" class="btn btn-color" data-toggle="modal" data-target="#myModal" {{action 'rewardSelection' this.amount 'Special Shoutout on our social media handles'}}> Contribute </button> <br>
            </div>
         </div>
      </div>
      <div class="col-sm-4 bg-3">
         <div class="panel text-center">
            <div class="panel-heading">
               <h4>Rs.1000/-<br>Horse Power</h4>
            </div>
            <div class="panel-body">
               <p>Special Shoutout on our social media handles and Delivery of customised postcard</p>
            </div>
            <div class="panel-footer">
               <button type="button" class="btn btn-color" data-toggle="modal" data-target="#myModal" {{action 'rewardSelection' '1000' 'shoutout on social media & customised postcard'}}> Contribute </button> <br>
            </div>
         </div>
      </div>
      <div class="col-sm-4 bg-3">
         <div class="panel text-center">
            <div class="panel-heading">
               <h4>Rs.5000/-<br>Unstoppable</h4>
            </div>
            <div class="panel-body">
               <p>Customized next tech lab swag(T-shirt + Postcard) + shoutout on our social media handles</p>
            </div>
            <div class="panel-footer">
               <button type="button" class="btn btn-color" data-toggle="modal" data-target="#myModal" {{action 'rewardSelection' '1000' 'shoutout on social media & customised postcard'}}> Contribute </button> <br>
            </div>
         </div>
      </div>
   </div>
   <br/><br/>
   <div class="row"></div>
   <div class="row">
      <div class="col-sm-4 bg-3">
         <div class="panel text-center">
            <div class="panel-heading">
               <h4>Rs.10000/-<br> &nbsp;</h4>
            </div>
            <div class="panel-body">
               <p>Customized next tech lab swag(T-shirt + Postcard) + shoutout on our social media handles</p>
            </div>
            <div class="panel-footer">
               <button type="button" class="btn btn-color" data-toggle="modal" data-target="#myModal" {{action 'rewardSelection' '1000' 'shoutout on social media & customised postcard'}}> Contribute </button> <br>
            </div>
         </div>
      </div>
      <div class="col-sm-4 bg-3">
         <div class="panel text-center">
            <div class="panel-heading">
               <h4>Rs.25000/-<br>Lightspeed</h4>
            </div>
            <div class="panel-body">
               <p>Customized next tech lab swag(T-shirt + Postcard) + shoutout on our social media handles</p>
            </div>
            <div class="panel-footer">
               <button type="button" class="btn btn-color" data-toggle="modal" data-target="#myModal" {{action 'rewardSelection' '1000' 'shoutout on social media & customised postcard'}}> Contribute </button> <br>
            </div>
         </div>
      </div>
      <div class="col-sm-4 bg-3">
         <div class="panel text-center">
            <div class="panel-heading">
               <h4>Rs.50000/-<br>Lift-Off</h4>
            </div>
            <div class="panel-body">
               <p>Customized next tech lab swag(T-shirt + Postcard) + shoutout on our social media handles</p>
            </div>
            <div class="panel-footer">
               <button type="button" class="btn btn-color" data-toggle="modal" data-target="#myModal" {{action 'rewardSelection' '1000' 'shoutout on social media & customised postcard'}}> Contribute </button> <br>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4><span class="glyphicon glyphicon-lock"></span> Contribution</h4>
         </div>
         <div class="modal-body">
            {{message}}
            <br/><br/>
            <button type="submit" class="btn btn-block" {{action 'toggleModal'}}> Pay
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            {{#if isShowingModal}}
               {{#modal-dialog close="toggleModal"
               targetAttachment="center"
               translucentOverlay=true}}
               <p>Do not Refresh the page....</p>
                <div class="modal-header">
                <button type="button" class="close" {{action "payment"}}>ok</button>
            </div>
               {{/modal-dialog}}
               {{/if}}
         </div>

         <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
            <div class="mouse" data-dismiss="modal" {{action "showHelp"}}>Help?</div>
         </div>
      </div>
   </div>
</div>

{{#if isShowingHelp}}
    {{#modal-dialog close="showHelp"
                  targetAttachment="center"
                  translucentOverlay=true}}
        {{partial 'help'}}
    {{/modal-dialog}}
{{/if}}