 <div class="start-campaign-background">
    <div class="start-campaign-box">
        
    <div class="start-campaign-box-body">
   
 
  <div class="text-color-title">
 <h1 align="center"><b>Here we go!</b></h1>
 </div>
  <h4 align="center"><b>Share your project and other basic details</b></h4><br>
    <div class="col-sm-6-btm">
   <div class="form-group">
                    <br>
                    <div class="text-color">
                    <label class="col-sm-4">your name</label></div>
                    <div class="input-group">
                        {{input type="text" model=this valuePath='fname' placeholder='First Name'}}
                    </div>
                    <br>
                </div>

                <div class="form-group">
                    <div class="text-color">
                    <label class="col-sm-4">Email Id</label></div>
                    <div class="input-group">
                        {{input type="text" model=this valuePath='email' placeholder='Email id'}}
                    </div>
                    <br>
                </div>

                <div class="form-group">
                    <div class="text-color">
                    <label class="col-sm-4">Phone Number</label></div>
                    <div class="input-group">
                        {{input type="number" model=this valuePath='phone' placeholder='Phone Number'}}
                    </div>
                    <br>
                </div>

                <div class="form-group">
                    <div class="text-color">
                    <label class="col-sm-4">City</label></div>
                    <div class="input-group">
                        {{input type="text" model=this valuePath='city' placeholder='City'}}
                    </div>
                    <br>
                </div>

                <div class="form-group">
                    <div class="text-color">
                    <label class="col-sm-4">Project name</label></div>
                    <div class="input-group">
                        <textarea rows="3" cols="40" placeholder="Maximum 80 characters including spaces."></textarea>
                    </div>
                    
                    <br>
                </div>


            <div class="form-group">
                    <div class="text-color">
                    <label class="col-sm-4">Project genre</label></div>
                    <div class="input-group">
                <input type="radio" name="group" value="Film" checked> Film<br><br>
                <input type="radio" name="group" value="Product Design"> Product Design<br><br>
                <input type="radio" name="group" value="Publishing" checked> Publishing<br><br>
                <input type="radio" name="group" value="Art" checked> Art<br><br>
                <input type="radio" name="group" value="Photography" checked> Photography<br><br>
                <input type="radio" name="group" value="Comics" checked> Comics<br><br>
                 
                 </div>
                    <br>
                </div>


                <div class="form-group">
                    <div class="text-color">
                    <label class="col-sm-4">Explain your project in one line</label></div>
                    <div class="input-group">
                        <textarea rows="3" cols="40" placeholder="Be crisp, give us a short description in 160 character (includes spaces)"></textarea>
                    </div>
                    
                    <br>
                </div>

                <div class="form-group">
                    <div class="text-color">
                    <label class="col-sm-4">Now give us details about your project</label></div>
                    <div class="input-group">
                        <textarea rows="3" cols="40" placeholder="Tell us everything, what is it about, what is unique in your project, why are you making it, everything!!"></textarea>
                    </div>
                    
                    <br>
                </div>

                 <div class="btn-center">
                    <button type="button" class="btn btn-color" {{action 'start'}}> Submit </button>
                </div>

</div>
</div>
</div>
</div>